<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VQPM3HPB7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-7VQPM3HPB7');
    </script>

    <script>
    fetch('https://ipinfo.io/json?token=cfcaa1b98dabac')
    .then(response => response.json())
    .then(data => {
    console.log('User IP: ', data.ip);
    console.log('User Country: ', data.country);
    });
    </script>


    <script src="https://apis.google.com/js/api.js"></script>
    <script>
      function initializeAnalytics() {
        gapi.load('client:auth2', function() {
          gapi.client.init({
            apiKey: 'AIzaSyBtz4-iBiqGKhyl-oOT4EEgT1nRU6TTIFg',
            clientId: '666279208057-1r3tact5mdueptnapoinmddtgd94hc82.apps.googleusercontent.com',
            scope: 'https://www.googleapis.com/auth/analytics.readonly',
            discoveryDocs: ['https://analyticsdata.googleapis.com/$discovery/rest?version=v1']
          }).then(function() {
            return gapi.client.analyticsdata.properties.runReport({
              property: 'properties/449203991',
              resource: {
                dimensions: [{name: 'year'}],
                metrics: [{name: 'activeUsers'}],
                dateRanges: [{startDate: '2020-07-07', endDate: 'today'}]
              }
            });
          }).then(function(response) {
            var pageViews = response.result.rows[0].metrics[0].values[0];
            document.getElementById('page-views').innerText = pageViews;
          }, function(error) {
            console.log(error);
          });
        });
      }
    </script>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.6.0.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">

</head>
