<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VQPM3HPB7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-7VQPM3HPB7');
    </script>

    <script>
        fetch('https://ipinfo.io/json?token=cfcaa1b98dabac')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // 假设data.loc不存在，我们可能需要自己构建或使用其他API
            let loc = `${data.loc || "0.0000,0.0000"}`; // 示例默认值
            let locationData = {
                "IP": data.ip,
                "City": data.city,
                "Country": data.country,
                "Loc": loc
            };

            // 发送POST请求http://localhost:3000/location/insert
            fetch('https://personalpage-express-mongodb.azurewebsites.net/location/insert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(locationData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to insert location data');
                }
                console.log('Location data inserted successfully');
            })
            .catch(error => {
                console.error('Error inserting location data:', error);
            });
        })
        .catch(error => {
            console.error('Error fetching location data:', error);
        });
    </script>

<!--    <title>World Map with Marker</title>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #mapid {
            height: 400px; /* 你可以根据需要调整这个高度 */
            width: 100%; /* 宽度设置为100%，这样地图就会占据整个容器的宽度 */
            max-width: 800px; /* 你可以设置一个最大宽度，防止在大屏幕上地图变得过大 */
            margin: 0 auto; /* 如果设置了最大宽度，这个样式可以帮助地图在页面中居中显示 */
        }

        .red-triangle {
            fill: red;
            stroke: none;
            pointer-events: none;
        }

        .blue-triangle {
            fill: blue;
            stroke: none;
            pointer-events: none;
        }

        .green-triangle {
            fill: green;
            stroke: none;
            pointer-events: none;
        }
    </style>

    <script>
        // 定义一个函数来加载页面浏览量
        function loadPageViews(articleId) {
            // 替换这里的articleId为实际的文章ID，或者从URL中获取 http://localhost:3000/pageviews/:articleId
            const url = `https://personalpage-express-mongodb.azurewebsites.net/pageviews/:articleId`;
            // const url = `http://localhost:3000/pageviews/:articleId`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // 解析JSON响应
                })
                .then(data => {
                    // 更新页面上的元素以显示页面浏览量
                    document.getElementById('page-views').textContent = `In total: ${data.count} visits`;
                })
                .catch(error => {
                    console.error('There was a problem fetching the page views:', error);
                    document.getElementById('page-views').textContent = 'Error loading page views';
                });
        }

        // 定义一个函数来加载当日页面浏览量
        function loadDailyPageViews(articleId) {
            // 构建包含实际文章ID的URL
            const url = `https://personalpage-express-mongodb.azurewebsites.net/pageViewsDaily`;
            // const url = `http://localhost:3000/pageViewsDaily`;
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // 解析JSON响应
                })
                .then(data => {
                    // 更新页面上的元素以显示当日页面浏览量
                    document.getElementById('page-views-today').textContent = `Today   : ${data.count} visits`;
                })
                .catch(error => {
                    console.error('There was a problem fetching the daily page views:', error);
                    document.getElementById('page-views-today').textContent = 'Error loading daily page views';
                });
        }

        // 假设你已经知道文章ID，或者从URL中解析它
        // 这里我们直接用一个示例ID
        const articleId = 'https://tommygong08.github.io/';

        // 页面加载完成后调用函数
        window.onload = function() {
            loadPageViews(articleId);
            loadDailyPageViews(articleId);
        };
    </script>


<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.6.0.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">

</head>
